<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="service">
            <file>tests/ServiceTest.php</file>
        </testsuite>
        <testsuite name="loadBalancer">
            <file>tests/RandomLoadBalancerTest.php</file>
            <file>tests/RoundRobinLoadBalancerTest.php</file>
            <file>tests/WeightLoadBalancerTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
